<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:fragment="header">
    <nav class="navbar navbar-dark bg-dark">
        <div class="navbar-brand">
            <a class="text-white bg-dark">
                <a class="text-white font-weight-bold" th:text="${user.username}"></a>
                with roles:
                <span class="text-uppercase" th:each="role : ${user.roles}">
                    <a th:text="${role.name}"></a>
                </span>
            </a>
        </div>
        <li>
            <form action="/logout" method="post">
                <button type="submit" class="btn btn-link navbar-btn navbar-link">
                    <p class="text-secondary">Logout</p>
                </button>
            </form>
        </li>
    </nav>
</header>
</body>
</html>