<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="base :: head(~{::title})">
    <title>Admin panel</title>
</head>
<body>
<section th:insert="navbar::header"></section>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div class="list-group row">
                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin}" class="list-group-item list-group-item-action active">
                    Admin
                </a>
                <a sec:authorize="hasRole('ROLE_USER')" th:href="@{/user}" class="list-group-item list-group-item-action">
                    User
                </a>
            </div>
        </div>

        <div class="col-md-10 min-vh-100 bg-light">
            <h1>Admin panel</h1>
            <div class="tab-content">
                <div class="tab-pane fade show active" aria-labelledby="list-home-list">
                    <div class="tab-content">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#home">Users table</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#addUser">New User</a>
                            </li>
                        </ul>
                        <div id="home" class="tab-pane fade show active">
                            <div class="d-flex flex-column bd-highlight mb-3">
                                <div class="card">
                                    <h4 class="card-header">
                                        <div class="p-2 bd-highlight">
                                            All users
                                        </div>
                                    </h4>
                                    <div class="card-body">
                                <div class="p-2 bd-highlight bg-white">
                                    <table class="table table-striped bg-white" id="usersTable">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Age</th>
                                            <th>Email</th>
                                            <th>Username</th>
                                            <th>Role</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="user : ${users}">
                                            <td th:text="${user.id}"></td>
                                            <td th:text="${user.name}"></td>
                                            <td th:text="${user.age}"></td>
                                            <td th:text="${user.email}"></td>
                                            <td th:text="${user.username}"></td>
                                            <td>
                                                     <span class="text-uppercase"
                                                           th:each="role : ${user.getRoles()}">
                                                     <a class="text-uppercase" th:text="${role.getName()}"></a>
                                                     </span>
                                            </td>

                                            <td>
                                                <button type="button" class="btn btn-info">Edit</button>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-danger">Delete</button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                         </div>
                        </div>
                    </div>
                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>