<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="base :: head(~{::title})">
    <title>Admin panel</title>
</head>
<body>
<section th:insert="navbar::header"></section>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div class="list-group row">
                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin/users}" class="list-group-item list-group-item-action active">
                    Admin
                </a>
                <a sec:authorize="hasRole('ROLE_USER')" th:href="@{/user/info}" class="list-group-item list-group-item-action">
                    User
                </a>
            </div>
        </div>

        <div class="col-md-10 min-vh-100 bg-light">
            <h1>Admin panel</h1>
            <div class="tab-content">
                <div class="tab-pane fade show active" aria-labelledby="list-home-list">
                    <div class="tab-content">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#home" id="usersTableTab">Users table</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#addUser" id="addUserTab">New User</a>
                            </li>
                        </ul>
                        <div id="home" class="tab-pane fade show active">
                            <div class="d-flex flex-column bd-highlight mb-3">
                                <div class="card">
                                    <h4 class="card-header">
                                        <div class="p-2 bd-highlight">
                                            All users
                                        </div>
                                    </h4>
                                    <div class="card-body">
                                <div class="p-2 bd-highlight bg-white">
                                    <table class="table table-striped bg-white" id="usersTable">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Age</th>
                                            <th>Email</th>
                                            <th>Username</th>
                                            <th>Role</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody id="tableBody">
                                        <script th:src="@{/js/user-list.js}"></script>
                                        </tbody>
                                    </table>

                                    <!-- Edit Modal -->
                                    <div class="modal fade" tabindex="-1" role="dialog"
                                         aria-labelledby="editModal" aria-hidden="true" id="modal-edit">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Edit user</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                    <div class="modal-body">
                                                        <div class="form-group">
                                                            <label for="idEdit">ID</label>
                                                            <input type="text" class="form-control" id="idEdit" name="id" readonly>
                                                            <br>
                                                            <label for="nameEdit">Name:</label>
                                                            <input type="text" class="form-control" id="nameEdit" name="name" required>
                                                            <br>
                                                            <label for="usernameEdit">Username:</label>
                                                            <input type="text" class="form-control" id="usernameEdit" name="username" required>
                                                            <br>
                                                            <label for="ageEdit">Age:</label>
                                                            <input type="number" class="form-control" id="ageEdit" name="age" required>
                                                            <br>
                                                            <label for="emailEdit">Email:</label>
                                                            <input type="email" class="form-control" id="emailEdit" name="email" required>
                                                            <br>
                                                            <label for="passwordEdit">Password:</label>
                                                            <input type="password" class="form-control" id="passwordEdit" name="password" required>
                                                            <br>
                                                            <label for="rolesNamesEdit">Role:</label>
                                                            <select class="form-control" multiple id="rolesNamesEdit" name="rolesNamesEdit" required>
                                                            </select>
                                                            </select>
                                                            <br>
                                                        </div>
                                                    </div>
                                                <div class="modal-footer" id="editFooter"></div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Delete modal -->

                        <div class="modal fade" tabindex="-1" role="dialog"
                             aria-labelledby="deleteModal" aria-hidden="true" id="modal-delete">
                            <form th:action="@{/admin/delete}"  method="post">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Delete user</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label for="idDelete">ID</label>
                                                <input type="text" class="form-control" id="idDelete" name="id" readonly>
                                                <br>
                                                <label for="nameDelete">Name</label>
                                                <input type="text" class="form-control" id="nameDelete" name="name" readonly>
                                                <br>
                                                <label for="ageDelete">Age:</label>
                                                <input type="number" class="form-control" id="ageDelete" name="age" readonly>
                                                <br>
                                                <label for="emailDelete">Email:</label>
                                                <input type="email" class="form-control" id="emailDelete" name="email" readonly>
                                                <br>
                                                <label for="usernameDelete">Username</label>
                                                <input type="text" class="form-control" id="usernameDelete" name="username" readonly>
                                                <br>
                                                <label for="rolesDelete">Role:</label>
                                                <select class="form-control" multiple id="rolesDelete" name="roleNamesDelete" readonly>

                                                </select>
                                                <br>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-danger">Delete</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                                <!-- add User-->
                                <div id="addUser" class="tab-pane fade">
                                    <div class="tab-pane fade show active">
                                    <div class="d-flex flex-column bd-highlight mb-3">
                                        <div class="card">
                                            <h4 class="card-header">
                                                <div class="p-2 bd-highlight">
                                                    Add new user
                                                </div>
                                            </h4>
                                            <div class="card-body">
                                                <div class="col-7 align-self-center">
                                                    <form>
                                                        <div class="form-group">
                                                            <label for="addName">Name:</label>
                                                            <input type="text" class="form-control" name="name" id="addName" required>
                                                            <br>
                                                            <label for="addAge">Age:</label>
                                                            <input type="text" class="form-control" age="age" id="addAge" required>
                                                            <br>
                                                            <label for="addEmail">Email:</label>
                                                            <input type="text" class="form-control" name="email" id="addEmail" required>
                                                            <br>
                                                            <label for="addUsername">Username:</label>
                                                            <input type="text" class="form-control" name="username" id="addUsername" required>
                                                            <br>
                                                            <label for="addPassword">Password:</label>
                                                            <input type="password" class="form-control" name="password" id="addPassword" required>
                                                            <br>
                                                            <label for="rolesNamesAdd">Roles:</label>
                                                            <select class="form-control" multiple name="rolesNames" id="rolesNamesAdd">
                                                            </select>
                                                            <br>
                                                            <button type="button" onclick="addUser()" class="btn btn-primary">Add new user</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                </div>
                                    </div>
                                </div>
        </div>
    </div>
</div>



</body>
</html>