<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="base :: head(~{::title})">
    <title>Admin panel</title>
</head>
<body>
<script th:src="@{/js/modal-edit.js}"></script>
<script th:src="@{/js/modal-delete.js}"></script>
<section th:insert="navbar::header"></section>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div class="list-group row">
                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin}" class="list-group-item list-group-item-action active">
                    Admin
                </a>
                <a sec:authorize="hasRole('ROLE_USER')" th:href="@{/user}" class="list-group-item list-group-item-action">
                    User
                </a>
            </div>
        </div>

        <div class="col-md-10 min-vh-100 bg-light">
            <h1>Admin panel</h1>
            <div class="tab-content">
                <div class="tab-pane fade show active" aria-labelledby="list-home-list">
                    <div class="tab-content">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#home">Users table</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#addUser">New User</a>
                            </li>
                        </ul>
                        <div id="home" class="tab-pane fade show active">
                            <div class="d-flex flex-column bd-highlight mb-3">
                                <div class="card">
                                    <h4 class="card-header">
                                        <div class="p-2 bd-highlight">
                                            All users
                                        </div>
                                    </h4>
                                    <div class="card-body">
                                <div class="p-2 bd-highlight bg-white">
                                    <table class="table table-striped bg-white" id="usersTable">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Age</th>
                                            <th>Email</th>
                                            <th>Username</th>
                                            <th>Role</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="user : ${users}">
                                            <td th:text="${user.id}"></td>
                                            <td th:text="${user.name}"></td>
                                            <td th:text="${user.age}"></td>
                                            <td th:text="${user.email}"></td>
                                            <td th:text="${user.username}"></td>
                                            <td>
                                                     <span class="text-uppercase"
                                                           th:each="role : ${user.getRoles()}">
                                                     <a class="text-uppercase" th:text="${role.getName()}"></a>
                                                     </span>
                                            </td>

                                            <td>
                                                <a th:href="@{/admin/user-get/(id=${user.id})}" class="btn btn-info" id="editButton">Edit</a>
                                            </td>
                                            <td>
                                                <a th:href="@{/admin/user-get/(id=${user.id})}" class="btn btn-danger" id="deleteButton">Delete</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                    <!-- Edit Modal -->
                                    <div class="modal fade" tabindex="-1" role="dialog"
                                         aria-labelledby="editModal" aria-hidden="true" id="modal-edit">
                                        <form th:action="@{/admin/edit}"  method="post">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Edit user</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="form-group">
                                                            <label for="idEdit">ID</label>
                                                            <input type="text" class="form-control" id="idEdit" name="id" readonly>
                                                            <br>
                                                            <label for="nameEdit">Name:</label>
                                                            <input type="text" class="form-control" id="nameEdit" name="name" required>
                                                            <br>
                                                            <label for="userNameEdit">Username:</label>
                                                            <input type="text" class="form-control" id="userNameEdit" name="username" required>
                                                            <br>
                                                            <label for="ageEdit">Age:</label>
                                                            <input type="number" class="form-control" id="ageEdit" name="age" required>
                                                            <br>
                                                            <label for="emailEdit">Email:</label>
                                                            <input type="email" class="form-control" id="emailEdit" name="email" required>
                                                            <br>
                                                            <label for="passwordEdit">Password:</label>
                                                            <input type="password" class="form-control" id="passwordEdit" name="password" required>
                                                            <br>
                                                            <label for="rolesEdit">Role:</label>
                                                            <select class="form-control" multiple id="rolesEdit" name="rolesNamesEdit" required>
                                                            </select>
                                                            <br>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                        <button type="submit" class="btn btn-primary">Edit</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Delete modal -->

                        <div class="modal fade" tabindex="-1" role="dialog"
                             aria-labelledby="deleteModal" aria-hidden="true" id="modal-delete">
                            <form th:action="@{/admin/delete}"  method="post">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Delete user</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label for="idDelete">ID</label>
                                                <input type="text" class="form-control" id="idDelete" name="id" readonly>
                                                <br>
                                                <label for="nameDelete">Name</label>
                                                <input type="text" class="form-control" id="nameDelete" name="name" readonly>
                                                <br>
                                                <label for="ageDelete">Age:</label>
                                                <input type="number" class="form-control" id="ageDelete" name="age" readonly>
                                                <br>
                                                <label for="emailDelete">Email:</label>
                                                <input type="email" class="form-control" id="emailDelete" name="email" readonly>
                                                <br>
                                                <label for="usernameDelete">Username</label>
                                                <input type="text" class="form-control" id="usernameDelete" name="username" readonly>
                                                <br>
                                                <label for="rolesDelete">Role:</label>
                                                <select class="form-control" multiple id="rolesDelete" name="roleNamesDelete" readonly>

                                                </select>
                                                <br>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-danger">Delete</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                                <!-- add User-->
                                <div id="addUser" class="tab-pane fade">
                                    <div class="tab-pane fade show active">
                                    <div class="d-flex flex-column bd-highlight mb-3">
                                        <div class="card">
                                            <h4 class="card-header">
                                                <div class="p-2 bd-highlight">
                                                    Add new user
                                                </div>
                                            </h4>
                                            <div class="card-body">
                                                <div class="col-7 align-self-center">
                                                    <form th:action="@{/admin/new}" th:object="${newUser}" method="post">
                                                        <div class="form-group">
                                                            <label for="name">Name:</label>
                                                            <input th:field="*{name}" type="text" class="form-control" name="name" id="name" required>
                                                            <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
                                                            <br>
                                                            <label for="name">Age:</label>
                                                            <input th:field="*{age}" type="text" class="form-control" age="age" id="age" required>
                                                            <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Name error</div>
                                                            <br>
                                                            <label for="name">Email:</label>
                                                            <input th:field="*{email}" type="text" class="form-control" name="email" id="email" required>
                                                            <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Name error</div>
                                                            <br>
                                                            <label for="name">Username:</label>
                                                            <input th:field="*{username}" type="text" class="form-control" name="username" id="username" required>
                                                            <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name error</div>
                                                            <br>
                                                            <label for="name">Password:</label>
                                                            <input th:field="*{password}" type="password" class="form-control" name="password" id="password" required>
                                                            <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Name error</div>
                                                            <br>
                                                            <label for="rolesNames">Roles:</label>
                                                            <select class="form-control" multiple name="rolesNames" id="rolesNames">
                                                                <option selected
                                                                    th:each="role : ${roles}"
                                                                    th:text="${role.name}"
                                                                    th:value="${role.name}">
                                                                </option>
                                                            </select>
                                                            <br>
                                                            <div th:if="${userExistsError}" class="alert alert-danger" role="alert" th:utext="${userExistsError}"></div>
                                                            <br>
                                                            <button type="submit" class="btn btn-primary">Add new user</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                </div>
                                    </div>
                                </div>
        </div>
    </div>
</div>



</body>
</html>